body {
  background-color: #F5F5FA;
  font-family: "Inter", sans-serif;
}

/* LOGO */

.container {
  max-width: 1050px !important;
}

.col {
  margin: 0px -1px;
}

.top-bar {
  text-align: center;
  font-size: 12px;
  color: #00ab56;
  background-color: #effff4;
  height: 40px;
}

.des-logo {
  font-size: 14px;
  color: rgb(0, 62, 161);
  font-weight: 600;
  text-align: left;
  margin-left: 7px;
}

/* SEARCH */

.search {
  width: 814px;
  display: flex;
  position: relative;
  border: 1px solid rgb(221, 221, 227);
  border-radius: 6px;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 40px;
  height: 38px;
}

.search i {
  font-size: 17px;
  color: #808089;
  height: 17px;
  margin: 0px 0px 0px 15px;
}

.search_ex {
  color: #88a2c2;
  border: 0px;
  padding: 0px 8px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: 1 1 0%;
  outline: none;
}

.search-product {
  cursor: pointer;
  border: 0px;
  height: 38px;
  border-radius: 0px 8px 8px 0px;
  background: transparent;
  color: rgb(10, 104, 255);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 90px;
}

.search-product::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid rgb(221, 221, 227);
  height: 16px;
  left: 0px;
  top: 10px;
}

.search-product:hover {
  padding: 10px 13px;
  background-color: rgba(0, 96, 255, 0.12);
}

/*  */

.menu-user {
  color: #006cff;
  font-size: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 8px 16px;
  margin-left: 20px;
  margin-top: -24px;
  position: relative;
}

.menu-user a {
  text-decoration: none;
  font-weight: 500;
}

.user {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  width: 130px;
}

.user:hover {
  padding: 10px 10px;
  background-color: rgba(0, 96, 255, 0.12);
}

.user-account {
  padding: 8px;
  width: 90px;
}

.no-login:hover {
  background-color: rgba(39, 39, 42, 0.12);
  border-radius: 8px;
}

.menu-user .user .fa-house,
.fa-face-smile-wink,
.fa-cart-shopping {
  margin-right: 4px;
  border-radius: 50%;
  font-size: 17px;
}

.user-cart {
  position: relative;
  display: block;
  width: 35px;
}

.cart-wrapper:hover {
  background-color: rgba(0, 96, 255, 0.12);
  padding: 5px;
  border-radius: 5px;
}

.cart {
  margin-left: 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.cart::before {
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  left: -12px;
  border: 1px solid rgb(235, 235, 240);
}

.user-cart .cart-warpper {
  position: relative;
  display: flex;
  width: 450px;
  height: 40px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.user_cart-item {
  color: rgb(255, 255, 255);
  background: rgb(255, 66, 79);
  height: 11px;
  width: 11px;
  right: -1px;
  top: -8px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 7px;
  line-height: 150%;
  position: absolute;
  padding: 1px 4px;
}

/* MENU BOTTOM */

.menu-bottom {
  margin-top: 45px;
  margin-left: 136px;
  position: absolute;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 1;
}

.list-kw {
  display: flex;
  height: 24px;
  width: 712px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 12px;
  margin-right: 90px;
}

.list-kw a {
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(128, 128, 137);
  white-space: nowrap;
}

.local {
  margin-bottom: 3px;
  max-width: 348px;
  flex: 0 0 348px;
}

.local .local-house {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 130px;
}

.local .local-house a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(128, 128, 137);
  white-space: nowrap;
}

.local .local-house>h4 {
  margin: 0px;
  display: block;
  color: rgb(128, 128, 137);
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  line-height: 150%;
  padding-right: 4px;
  white-space: nowrap;
}

.local .local-house .address {
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  color: rgb(39, 39, 42);
}

/* MAIN MENU */

.menu-main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px;
  margin-top: 12px;
  gap: 4px;
  background: white;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(235, 235, 240);
  margin-left: -365px;
}

.menu-main a {
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 12px;
  padding-inline: 24px;
  -webkit-box-align: center;
  align-items: center;
}

.freeship-des {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
}

/* LIST ITEM */

.list-title {
  position: relative;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 10px 15px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 240px;
}

.list {
  padding: 7px 14px;
}

.list-item a {
  display: table-cell;
  padding: 10px 5px;
  -webkit-box-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.list:hover {
  /* padding: 5px 5px; */
  border-radius: 5px;
  background: rgba(39, 39, 42, 0.12);
}

.list-item-icon {
  flex: 0 0 32px;
  height: 32px;
  margin-right: 8px;
  line-height: 0;
}

.list-item-icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.list_item-content {
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

/* SLIDER */
.container_widget {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  margin-left: -16px;
}

.container_widget-quick {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-self: stretch;
  justify-items: center;
}

.container_widget-quicklink a {
  display: flex;
  width: 100px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}

.container_widget-border {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 35%;
  overflow: hidden;
  box-sizing: content-box;
  background: white;
}

.container_widget-quicklink--title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: #27272a;
  text-align: center;
  text-overflow: ellipsis;
  min-height: 21px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* BOX DEAL */

.box_deal {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  gap: 12px;
  border-radius: 8px;
}

.box_deal-header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  min-height: 24px;
}

.box_deal-title {
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

.box_deal-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgb(10, 104, 255);
  text-decoration: none;
}


.box-product {
  border: 1px solid #7c777740;
}

.img-product {
  border-radius: 5px 5px 0px 5px;
}

.text-badge {
  height: 20px;
    padding: 2px 4px;
    gap: 0px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 150%;
}

.title-heading--product h3 {
  font-size: 12px;
}

.icon-rate i {
  font-size: 6px;
  color: #F9C722;
  margin-top: -55px;
  text-decoration: none!important;
}

.icon-rate {
  margin-bottom: -8px;
}

.info {
  padding: 7px;
  height: 100px;
}

.info h3 {
  font-weight: 500;
  font-size: 10px;
  margin-bottom: -10px;
}

.price-product {
  font-size: 15px;
}

.price-discount {
  font-weight: 700;
  margin-top: 4px;
}

.box-price {
  margin-top: 25px;
}

.price-discount__discount {
  display: flex;
  padding: 2px 4px;
  align-items: flex-start;
  border-radius: 8px;
  background: #f5f5fa;
  color: #27272a;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.price-discount__original-price {
  color: #808089;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: line-through;
}

.delivery-info {
  display: flex;
  gap: 4px;
  border-top: 1px solid rgb(235, 235, 240);
  padding: 6px;
  -webkit-box-align: center;
  align-items: center;
}

.delivery-info span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0px;
  overflow: hidden;
  color: #808089;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


.deals__price--discount {
  position: absolute;
    top: 4px;
    left: 4px;
    padding: 2px;
    background: rgb(255, 219, 222);
    border-radius: 4px;
    color: rgb(255, 66, 78);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.deals-qty {
  background-color: rgb(255, 170, 175);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: 16px;
}

.deals-progress {
  position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(255, 66, 78);
    height: 16px;
    border-radius: 10px;
    min-width: 16px;
}

.deals-qty span {
  font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    padding: 0px 0px 0px 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
} 